.tabsdemoStaticTabs md-tab-content {
  background: rgba(0,0,0,0);
  padding: 25px; }
  .tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5; }
  .tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38; }
  .tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }

.topHeader {
  margin-top: 0px;
  width: 100%;
  height: 100px;
}

.imageOverflow {
  overflow: hidden;
}

.title{
  align-items: center;
  position: absolute;
  margin-top: 0px;
  color: aliceblue;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 146%;
}
.title h1{
  text-align: center;
  color: #FF1744;
}
.title h3{
  text-align: right;
  color: grey;
  font-size: smaller;
}

.contentBG{
  background: black;
}
/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/